.headerNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding-left: 99px;
    padding-top: 20px;
    margin-bottom: 18px;
}
.headList {
    display: flex;
}
.list {
    padding-right: 50px;
    font-family: Helvetica;
}
.burgerList {
    display: none;
}
.burgermenu:active {
    .burgerList {
        display: block;
        background-color: grey;
        width: 50px;
    }
}
.line {
    background-color: black;
    height: 5px;
    width: 30px;
    display: none;
    margin-top: 3px;
    margin-right: 20px;
}
@media only screen and (max-width: 800px) {
    .headList {
      display: none;
    }
    .line {
        display: block;
    }
  }

/* middle part!!!!! */

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center
}
.textInImage {
    position: absolute;
    text-align: center;
}
.textInImage1 {
    font-family: Helvetica;
    font-size: 79px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;    
}
.textInImage2 {
    font-family: Helvetica;
    font-size: 19px;
    font-weight: 400;
    color: #FFFFFF;
}
.bigImage {
    width: 100%;
}

/* footer!!! */

.bottomList {
    padding-top: 84px;
    padding-left: 100px;
    padding-right: 83px;
}
.discover {
    font-family: Helvetica;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0em;

}
.hotServices {
    margin-top: 9px;
    font-family: Helvetica;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;

}
.visitText {
    max-width: 235px;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 37px;
}

/* images with texts list!!! */

footer {
    display: flex; 
}
.imagesSection {
    margin-top: 84px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}
.imagesWithTexts {
    margin-right: 33px;
    margin-bottom: 56px;
}
.belowImgTitle {
    margin-top: 23px;
    margin-bottom: 9px;
    font-family: Helvetica;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}
.belowImgText {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}


